@font-face {
    font-family: "Maven Pro";
    font-display: swap;
    src: url(font/MavenPro-Medium.ttf) format("truetype");
}

.font-effect-neon {
    text-shadow: 0 0 0.1em #fff, 0 0 0.3em #fff, 0 0 0.5em #f0f, 0 0 0.7em #f0f, 0 0 0.9em #f0f;
}

body {
    font-family: "Maven Pro", sans-serif;
    background-color: #dfe6e9;
}

img {
    border: 0 !important;
}

.hide {
    display: none !important;
}

.playoff-table .border-top {
    border-top: 3px solid #ffb142 !important;
}

.playoff-table .border-bottom {
    border-bottom: 3px solid #ffb142 !important;
}

.playoff-table .border-right {
    border-right: 3px solid #ffb142 !important;
}

.card {
    border: 0 !important;
}

.card-header {
    background-color: #191975 !important;
}

.card-body {
    background: radial-gradient(circle, #ffffff 0%, #bfbfd9 100%);
}

.playoff-card-body {
    background: linear-gradient(90deg, #000017 0%, #000045 50%, #000010 100%);
}

.bg-magenta {
    background-color: #6D214F;
}

.lime-color {
    color: #7bed9f;
}