body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dfe6e9;
}

table * {
    border: 1px solid grey !important;
    border-collapse: collapse;
}

img {
    border: 0 !important;
}